@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
.trapezoid {
  height: 0;
  width: 235px;
  border-bottom: 35px solid #FF3811;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
}